@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fefae0;
}
h1 {
  text-align: center;
}
button {
  font-size: 30px;
  border-radius: 100px;
  background-color: #dda15e;
  margin-top: 40px;
}
button.delete {
  margin-left: 200px;
}
input {
  background-color: #bc6c25;
  font-size: 15px;
}
form {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  margin: 30px;
  text-align: center;
}
p {
  text-align: center;
}
.name {
  font-size: 30px;
  font-family: 'Reggae One', cursive;
}
